# line 1
## line 2
### line 3
#### line 4

In [1]:
a= "hellow bahi"
print(a)

hellow bahi

In [4]:
b= "armaan"
print(b)
print(type(b))

armaan
<class 'str'>

In [5]:
print(type(a))

<class 'str'>

In [6]:
a= 1.25654
print(type(a))

<class 'float'>

In [8]:
## boolean
x= 52
y= 315
print(x>y)

False

In [9]:
## boolean
x= 225468
y= 65487654847
print(x<y)

True

In [10]:
type(x)

int

In [11]:
type(a)

float

In [12]:
b= str(x)
print(b)

225468

In [13]:
type(b)

str

In [1]:
x=66
y=44
print(x+y)
print(x-y)

110
22

In [2]:
x=116
y=6
print(x/y)
print(x//y)
print(x**y)

19.333333333333332
19
2436396322816

In [17]:
x=455
y=355
print(x>y)
print(x<y)
print(x==y)
print(x!=y)

True
False
False
True

In [6]:
a=555
b=75
print(a>=b and b<=a)
print(a<=b or b>=a)

True
False

In [15]:
s1="hello mister"
if "j"  in s1:
    print("true")
else:
    print("false")

false

In [18]:
str1="armaan"
print("n"in str1)
print("o" not in str1)

True
True

In [1]:
n=int(input("enter any number:"))
if n%2 ==0:
    print("even")
else:
    print("odd")

enter any number:221
odd

In [4]:
n =  int(input("enter any number"))
if n ==0 :
    print("zero")
elif n>0:
    print("positive")
elif n<0:
    print("negative")

enter any number-535
negative

# loop
## while loop
### for loop

In [1]:
i = 1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [8]:
i=1
n = int(input("enter the value:"))
while i<= n:
        print(i)
        i+=1

enter the value:6
1
2
3
4
5
6

In [23]:
i=1
n=int(input("enter the value:"))
s=0
while i<=n:
    if i%2==0:
        s+=i
    i+=1
print(s)

enter the value:30
240

6546